@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

/* Arrow Animation */
.arrow {
  position: absolute;
  left: -30px;
  font-size: 1.5rem;
  color: #f59e0b; /* amber */
  animation: flyArrow 2.8s linear infinite;
}

/* Letter Style */
.letter {
  margin: 0 2px;
  position: relative;
}

/* Hit effect on E */
.letter:nth-child(3),
.letter:nth-child(6) {
  animation: hitEffect 2.8s infinite;
}

@keyframes flyArrow {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: translateX(170px);
    opacity: 1;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

@keyframes hitEffect {
  0%, 45% {
    color: #0f172a;
    transform: scale(1);
  }
  55% {
    color: #f59e0b;
    transform: scale(1.25);
  }
  65% {
    color: #0f172a;
    transform: scale(1);
  }
}

